site_name: My site
site_url: https://mydomain.org/mysite
theme:
  name: material
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: orange
      accent: deep yellow

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep purple
extra:
  alternate:
    - name: English
      link: / 
      lang: en
    - name: 简体中文
      link: /zh/
      lang: zh