site_name: Funmorning Transit
site_url: https://funmoring46.github.io/FunmorningTransit
theme:
  name: material
  language: en
  font:
      text: Noto Sans
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: orange
      accent: deep yellow

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep purple
  features:
    - navigation.indexes
    - navigation.footer
    - toc.integrate
  
nav:
  - Welcome to funmorning transit: index.md
  - How to play: howtoplay.md
  - About the transportation: aboutthetransp.md
  - Stations: stations.md
  - funmorning公共交通:
    - zh/index.md
    - 玩法: zh/howtoplay.md

extra:
  alternate:
    - name: English
      link: /en/
      lang: en
    - name: 简体中文
      link: /zh/
      lang: zh